@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Raleway', sans-serif;
	margin:0px;
	background-color:#f6fbfc;
}

iframe{
-webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.34);
box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.34);	
}

#header{
	width:100%;
	height:90px;
	background-color:#FFF;
	position:fixed; z-index:9999;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);	
}

#download{
	width:90%;
	height:180px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	display:none;
}

#content-header{
	max-width:1150px;
	height:36px;
	padding-top:25px;
	padding-bottom:19px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/logo.svg);
	background-position:top left;
	background-repeat:no-repeat;	
}

#apple{
	width:106px;
	height:36px;
	float: right;
	transition: 0.5s;
}

#apple2{
	width:70%;
	height:auto;
	float: left;
	transition: 0.5s;
}


#apple:hover{
	opacity:.6;	
}


#google{
	width:116px;
	height:36px;
	float: right;
	margin-right:20px;
	transition: 0.5s;	
}


#google2{
	width:70%;
	height:auto;
	float: left;
	margin-right:20px;
	transition: 0.5s;	
}

#google:hover{
	opacity:.6;	
}

#descargar{
	width:170px;
	height:auto;
	float:right;
	font-size:18px;
	font-weight:regular;
	color:#504f4f;
	padding-top:10px;
	
	
}


#descargar2{
	width:100%;
	height:auto;
	float:left;
	font-size:22px;
	font-weight:bold;
	color:#504f4f;
	padding-top:10px;
	padding-bottom:10px;

	
}

#intro{
	height:503px;
	width:100%;
	z-index:99;
	background-image:url(../images/cabezote-appmiga.jpg);
	background-position:top center;
	padding-top:130px;
		
}

#contendor-intro{
	max-width: 1150px;
	height: 564px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 96px;
	background-image: url(../images/iphone.png);
	background-position: right;
	background-repeat: no-repeat;
	line-height: 40px;
	z-index: 999;
	position: relative;
}


#contenedor-iphone{
	width:100%;
	height:auto;
	display:none;
}

#iphone{
	max-width:553px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
		
}


.titulo1{
	font-size:58px;
	color:#ffffff;
	font-weight:bold;
	letter-spacing:1px;
}

.titulo2{
	font-size:58px;
	color:#2d398d;
	font-weight:bold;
	letter-spacing:1px;	
}


.titulo3{
	font-size:42px;
	color:#3eabdf;
	font-weight:bold;	
	line-height: 40px;
}


.titulo4{
	font-size:42px;
	color:#3d4693;
	font-weight:bold;
	line-height: 40px;	
}

.titulo5{
	font-size:35px;
	color:#3d4693;
	font-weight:bold;
	line-height: 20px;	
}





.subtitulo{
	width:50%;
	font-size:27px;
	color:#ffffff;
	line-height:30px;
	font-weight:300;
}


.subtitulo2{
	font-size:18px;
	color:#6f6f6e;
}


#logoapp{
	width: 280px;
	height:111px;
	float:left;
	background-image:url(../images/logo-appmiga.png);
	margin-left:140px;
	margin-top:10px;
		
}


#segmento2{
	width:100%;
	height:auto;
	background-image:url(../images/segmento2.jpg);
	background-position:top center;
	padding-top:116px;
	z-index:1;
}


#contenedor-segmento{
	max-width: 1150px;
	height:310px;
	margin-left:auto;
	margin-right:auto;	
}



#video{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	text-align:center;
	background-color:#2d398d;
	padding-top:20px;
	padding-bottom:50px;
	color:#3CF;
	float:left;
	font-size:40px;
	background-image:url(../images/fondo-video.jpg);
	background-attachment:fixed;

}


#desc{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	text-align:left;
	background-color:#DDE7EE;
	padding-top:20px;
	color:#ccc;
	float:left;
	font-size:40px;
	padding-top: 60px;
}


#contenedor-desc{
	max-width: 1150px;
	height:auto;
	margin-left:auto;
	margin-right:auto;	
}

#actualiza{
	max-width: 800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;	
	padding-top: 20px;
}


#serv{
	float: left;
	padding-left: 20px;
	max-width: 550px;
	height: auto;
}
#serv-svg{
	float: left;
	padding-left: 20px;
	max-width: 550px;
	height: auto;
}

.serv-svg100{
	float: none;
	padding-left: 20px;
	max-width: 1120px;
	height: auto;
}
.serv-svg100 img{
    padding-top: 20px;
    width: 1120px;
    max-width: 100%;
}

#serv-svg img {
    width: 550px;
    max-width: 100%;
}

#icon-serv{
	float: left;
	width: 200px;
	height: 190px;
	padding-right: 20px;
}



#img{
	width:310px;
	height:310px;
	float:left;
	background-image:url(../images/img-destacada.png);
}


#descripcion-seg{
	max-width:718px;
	height:auto;
	float:right;
	font-size:26px;
	color:#3a3c4c;
	padding-top:72px;
	line-height:35px;
	font-weight:300;
}


#footer{
	width:100%;
	height:44px;
	padding-top:0px;
	padding-bottom:50px;
	background-image:url(../images/fwwb-appmiga.svg);
	background-position:top center;
	background-repeat:no-repeat;
	border-top-color:#ebeced;
	border-top-style:solid;
	border-top-width:1px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	float:left;
		
}


@media screen and (max-width:1044px){
	
	#content-header{
	max-width:90%;
	
}


#segmento2{
	width:100%;
	height:auto;
	background-image:url(../images/segmento2.jpg);
	background-position:top center;
	padding-top:60px;
	z-index:1;
}

#contendor-intro{
	max-width: 90%;
	height: 564px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	background-image:none;
	background-position: right;
	background-repeat: no-repeat;
	line-height: 40px;
	z-index: 999;
	position: relative;
}


#contenedor-iphone{
	width:100%;
	height:auto;
	display: inline;
}

#img{
	width:310px;
	height:310px;
	float:none;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/img-destacada.png);
}


#descripcion-seg{
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	float:left;
}


#footer{
	width:100%;
	float:left;
		
}

#contenedor-segmento{
	max-width: 90%;
	height:680px;

}

.subtitulo{
	width:90%;
	
}
    
#serv-svg{
	float: left;
	padding-left: 20px;
    padding-right: 20px;
	max-width: 550px;
	height: auto;
}

.serv-svg100{
	float: none;
	padding-left: 20px;
    padding-right: 20px;
	max-width: 1120px;
	height: auto;
}
.serv-svg100 img{
    padding-top: 20px;
    width: 1120px;
    max-width: 100%;
}

#serv-svg img {
    width: 550px;
    max-width: 100%;
    padding-top: 20px
}

}


@media screen and (max-width:628px){


#contendor-intro{
	max-width: 90%;
	height: 1200px;
	padding-top: 10px;
	background-image:none;
	background-position: right;
	background-repeat: no-repeat;
	line-height: 40px;
	z-index: 999;
	position: relative;
}


#descargar{
	display:none;
	
}


.titulo1{
	font-size:44px;
	color:#ffffff;
	font-weight:bold;	
}

.titulo2{
	font-size:44px;
	color:#2d398d;
	font-weight:bold;	
}


#logoapp{
	width: 280px;
	height:111px;
	float:left;
	background-image:url(../images/logo-appmiga.png);
	margin-left:auto;
	margin-top:auto;
		
}


#intro{
	background-position:none;
	background-image:url(../images/cabezote-appmiga-mobile.jpg);
	background-position:top left;


}


#google{
	width:116px;
	height:36px;
	float: right;
	margin-right:10px;
	transition: 0.5s;	
}


#download{
	width:90%;
	height:90px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	display:inline;
}

#apple{
	display:none;
}


#google{
	display:none;
}


#content-header{
	max-width:1150px;
	height:72px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/logo-mobile.svg);
	background-position:top center;
	background-repeat:no-repeat;	
}

#header{
	width:100%;
	height:77px;
	background-color:#FFF;
	position:fixed; z-index:9999;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.32);	
}


.titulo3{
	font-size:32px;
	color:#3eabdf;
	font-weight:regular;	
}


.titulo4{
	font-size:32px;
	color:#3d4693;
	font-weight:regular;	
}

#descripcion-seg{
	max-width:718px;
	height:auto;
	float:right;
	font-size:22px;
	color:#3a3c4c;
	padding-top:20px;
	line-height:30px;
}


#icon-serv{
	float: left;
	width: 70%;
	height: 250px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;

}


.subtitulo2{
	font-size:24px;
	color:#6f6f6e;
}

#serv{
	float: left;
	padding-left: 20px;
	max-width: 550px;
	height: auto;
	padding-bottom: 80px;
}

}